.DS_Store
exercicios/teste/*
imagens/__MACOSX/._wallpaper006.jpg
imagens/__MACOSX/._pattern004.png
imagens/__MACOSX/._wallpaper001.jpg
imagens/__MACOSX/._wallpaper002.jpg
imagens/__MACOSX/._wallpaper004.jpg
imagens/__MACOSX/._wallpaper005.jpg
